.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}

.left-section {
    width: 50%;
    padding: 20px;
    background-color: #a92020;
}

.right-section {
    width: 50%;
    padding: 20px;
    background-color: #f9f9f9;
}

h2 {
    text-align: center;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

p {
    margin-bottom: 10px;
}
